@import '../styles/sass/mixins';
.Header {
  border: 1px solid #b219d7;
  background-color: #3576ff;
  height: 5vh;
  padding: 5px 10px;
  @include flex(row, space-between, center, nowrap);
  h2 {
    @media screen and (max-width:875px) {
      font-size: 1em;
    }
  }
  .user {
    text-align: right;
  }

}